html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body{
  background-color: #f5e1c8;
}

@media screen and (max-width: 480px) {
  .pizza {
    width: 90%;
    margin-bottom: 20px;
  }
}